<div class="row">
  <div class="span12">
    <h1 id="session-001">Films</h1>
    <h3>Vous devez vous inscrire à 3 évènements au minimum.</h3><br />
  </div>
</div>
<div id="session">
  <div class="row">
    <div class="span3 well inverse">
      <div class="event-header">
        <h2 data-place-libre="0">Metropolis</h2>
        <h4><span class="badge badge-inverse">0 places libres</span> <span class="badge badge-success">Inscrit</span></h4>
      </div>
      <dl>
        <dt>Description</dt>
        <dd>On va voir Metropolis</dd>
      </dl>
      <p><a class="btn detailBtn" data-toggle="modal" href="#modal-001">Détails &raquo;</a></p>
      <div class="ajaxCont modal fade" id="modal-001">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Metropolis</h3>
          <span class="badge badge-success">Inscrit</span>
        </div>
        <div class="modal-body">
          <p>Le 5 Jun de 9h30 à 10h</p>
          <p>En C383<br /><br />
          On va voir Metropolis<br />
          <span class="placeLibre">Il ne reste plus que 0 place(s) pour cette évènement<span></p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
          <a href="#" class="btn btn-danger disabled">Il n'y a plus de places</a>
        </div>
      </div><!--/span4 data-toggle="modal"-->
    </div>
    <div class="span3 well inverse">
      <div class="event-header">
        <h2 data-place-libre="5">Pulp Fiction</h2>
        <h4><span class="badge badge-inverse">5 places libres</span></h4>
      </div>
      <dl>
        <dt>Description</dt>
        <dd>On va voir Metropolis</dd>
      </dl>
      <p><a class="btn detailBtn" data-toggle="modal" href="#modal-001">Détails &raquo;</a></p>
      <div class="ajaxCont modal fade" id="modal-001">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Metropolis</h3>
          <span class="badge badge-success">Inscrit</span>
        </div>
        <div class="modal-body">
          <p>Le 5 Jun de 9h30 à 10h</p>
          <p>En C383<br /><br />
          On va voir Metropolis<br />
          <span class="placeLibre">Il ne reste plus que 5 place(s) pour cette évènement<span></p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
          <a href="#" class="btn btn-primary inscrire">S'inscrire</a>
        </div>
      </div><!--/span4 data-toggle="modal"-->
    </div>
  </div>
</div>